.list-controller {
  color: #eee;
  text-align: center;
  background-color: var(--color-black);
  padding: 0 4rem;
  min-height: calc(100vh - var(--nav-main-height));

  @media screen and (max-width: 40em) {
    padding: 0 1rem;
  }

  &__btn {
    width: 45%;
    border-bottom: 1px solid currentColor;
    background-color: transparent;
    color: currentColor;
    font-size: 3rem;
    font-weight: 100;
    margin: 4rem 1rem 2rem 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(#eee, .5);
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;

    &--selected {
      opacity: .7;
    }

    &:hover {
      opacity: .9;
    }
  }

}
