<form class="search-bar" [formGroup]="searchForm">

  <div class="search-bar__icon">
    <svg
      class="search-bar__svg"
      width="30"
      height="30"
      viewBox="0 0 24 24"
      fill="currentcolor"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
        stroke="#000"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"/>
    </svg>
  </div>

  <input
    formControlName="searchInput"
    class="search-bar__input"
    type="text"
    #inputEl>

</form>
