@import './../../../../../styles/abstract/mixins/breakpoint';

.search-bar {
  position: relative;
  display: inline-block;
  width: 30vw;

  &__icon {
    height: 100%;

  }

  &__svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4rem;
    margin-left: 1rem;

    @include respond(phone) {
      margin-left: 0;
    }
  }

  &__input {
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-size: 2.8rem;
    padding: 0 4rem 0 5rem;
    background-color: rgb(161, 159, 159);
    text-align: center;
    font-weight: 100;
    font-family: inherit;
    transition: all .5s ease;

    &:focus {
      background-color: #eee;
    }

    @include respond(phone) {
      font-size: 2rem;
      padding: 0 1rem 0 3rem;
    }

  }

}
