.nav {
  background-color: var(--color-primary);

  &__list {
    list-style: none;
    display: flex;
  }

  &__list-item {
    border-right: 1px solid black;
    min-width: 7rem;
    margin: 0 auto;
    cursor: pointer;
    transition: all .2s;

    &:hover,
    &--active {
      opacity: .6;
    }

  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: currentColor;
  }

}
